Authentication.py
SqlHandler.py
data/
NRC/
pandas/
__pycache__/
.DS_store
pipfile
NLP.code-workspace
logs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json